[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "hypnose-analysis"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["src"]
[tool.setuptools.package-data]
hypnose_analysis = ["resources/device_schemas/*.yml"]
